<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/bst5/css/bootstrap.min.css">
    <script src="/bst5/js/bootstrap.min.js"></script>
    <script src="/bst5/js/bootstrap.bundle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.css">
    <title>Document</title>
</head>

<body>
    <%- include('navbar') %>
        <div class="d-flex">
            <nav class="nav flex-column full-height-nav">
                <p style="font-size: 20px; text-align: center;">
                    <b>เมนู</b>
                </p>
                <a class="nav-link" href="/user" style="color: #333333;">
                    <i class="bi bi-people" style="margin-top: 10px;"></i>
                    ข้อมูลผู้ใช้
                </a>
                <a class="nav-link" href="/faculty" style="color: #333333;">
                    <i class="bi bi-journal-bookmark"></i>
                    ข้อคณะ และสาขาวิชา
                </a>
                <a class="nav-link" href="/room" style="color: #333333;">
                    <i class="bi bi-hospital"></i>
                    ข้อมูลห้อง
                </a>
                <a class="nav-link" href="/category" style="color: #333333;">
                    <i class="bi bi-bookmarks"></i>
                    ข้อมูลหมวดหมู่
                </a>
                <a class="nav-link" href="/stock" style="color: #333333;">
                    <i class="bi bi-box-seam"></i>
                    ข้อมูลผลิตภัณฑ์
                </a>
                <a class="nav-link position-relative" href="/cart" style="color: #1a75ff; text-shadow: 0px 0px 5px #1a75ff">
                    <i class="bi bi-cart"></i>
                    รายการเบิก
                </a>
                <a class="nav-link" href="/device" style="color: #333333;">
                    <i class="bi bi-cpu"></i>
                    ข้อมูลอุปกรณ์
                </a>
                <a class="nav-link" href="/maintenance" style="color: #333333;">
                    <i class="bi bi-wrench-adjustable"></i>
                    รายการแจ้งซ่อม
                </a>
            </nav>
            <div class="full-height">
                <br>
                <div class="row">
                    <div class="col">
                        <h1>All history withdraw</h1>
                    </div>
                    <div class="col-5" style="margin: auto;">
                        <div style="float: right;">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#Report">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <br>
                <div class="btn-group" style="width: 100%; margin-bottom: 30px;">
                    <a href="/cart" class="btn btn-outline-primary">รายการเบิก</a>
                    <a href="/page-allow-withdraw" class="btn btn-outline-primary" aria-current="page">อนุมัติรายการเบิก</a>
                    <a href="/my-history-withdraw" class="btn btn-outline-primary">ประวัติการเบิกของฉัน</a>
                    <a href="#" class="btn btn-primary active" aria-current="page">ประวัติการเบิกทั้งหมดในระบบ</a>
                </div>
                <table class="table">
                    <thead>
                        <% if ( orders!='' ) { %>
                            <tr>
                                <th>#</th>
                                <th>ชื่อผลิตภัณฑ์</th>
                                <th style="text-align: center;">จำนวน</th>
                                <th style="text-align: center;">วันที่</th>
                                <th>ผู้เบิก</th>
                                <th style="text-align: center;">สถานะ</th>
                            </tr>
                        <% } else { %>
                            <div class="alert alert-danger " role="alert" style="text-align: center">
                                <i class="bi bi-exclamation-triangle"></i>
                                <strong>Warning!</strong> ไม่มีข้อมูลในตะกร้า
                            </div>
                        <% } %>
                    </thead>
                    <tbody>
                        <% Object.values(orders).forEach(function(item,i){%>
                        <tr>
                            <td><%= order++ %></td>
                            <td>
                                <% let id = item.product_id %>
                                <% for(var i=0; i < stock.length; i++) {%>
                                    <% if (stock[i]._id.toString() == id.toString()) { %>
                                        <%= stock[i].product_name %>
                                    <% } %>
                                <% } %>
                            </td>
                            <td style="text-align: center;"><%= item.product_number %></td>
                            <td style="text-align: center;">
                                <% if (item.date_withdraw != null) { %>
                                    <%= item.date_withdraw.toLocaleString('th-TH') %>
                                <% } %>
                            </td>
                            <td>
                                <% for(var i=0; i < user.length; i++) {%>
                                    <% if (user[i]._id.toString() == item.user_id.toString()) { %>
                                        <%= user[i].FirstName %> <%= user[i].LastName %>
                                    <% } %>
                                <% } %>
                            </td>
                            <td style="text-align: center;">
                                <% if (item.status == '1' ) { %>
                                    <span class="badge rounded-pill bg-warning">
                                        รออนุมัติ
                                    </span>
                                <% } else if (item.status == '2' ) { %>
                                    <span class="badge rounded-pill bg-success">
                                        อนุมัติแล้ว
                                    </span>
                                <% } else { %>
                                    <span class="badge rounded-pill bg-danger">
                                        error 404
                                    </span>
                                <% } %>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <!-- Modal Report -->
                <div class="modal fade" id="Report" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Report all history withdraw</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="report-dispose-device" target="_blank" action="/report-all-history-withdraw" method="post">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Start date</label>
                                            <input class="form-control" value="<%= JSON.stringify(today).substring(1, 11); %>" type="date" name="start_date">
                                        </div>
                                        <div class="col">
                                            <label class="form-label">End date</label>
                                            <input class="form-control" value="<%= JSON.stringify(today).substring(1, 11); %>" type="date" name="end_date">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <input class="btn btn-danger" type="submit" value="PDF" form="report-dispose-device">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>