<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/bst5/css/bootstrap.min.css">
    <script src="/bst5/js/bootstrap.min.js"></script>
    <script src="/bst5/js/bootstrap.bundle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.css">
    <title>Document</title>
</head>

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
</style>

<body>
    <%- include('navbar') %>
        <div class="d-flex">
            <nav class="nav flex-column full-height-nav">
                <p style="font-size: 20px; text-align: center;">
                    <b>Menu</b>
                </p>
                <a class="nav-link" href="/user" style="color: #333333;">
                    <i class="bi bi-people"></i>
                    User
                </a>
                <a class="nav-link" href="/faculty" style="color: #333333;">
                    <i class="bi bi-journal-bookmark"></i>
                    Faculty or Branch
                </a>
                <a class="nav-link" href="/category" style="color: #333333;">
                    <i class="bi bi-bookmarks"></i>
                    Category
                </a>
                <a class="nav-link" href="/device" style="color: #333333;">
                    <i class="bi bi-cpu"></i>
                    Device
                </a>
                <a class="nav-link" href="/maintenance" style="color: #1a75ff; text-shadow: 0px 0px 5px #1a75ff">
                    <i class="bi bi-wrench-adjustable"></i>
                    Maintenance
                </a>
            </nav>
            <div class="full-height">
                <div>
                    <% if (MTN.MTN_Status == '1' ) { %>
                        <button class="btn btn-outline-warning" style="float: right;" form="check-device">ตรวจเช็คอุปกรณ์</button>
                    <% } else if (MTN.MTN_Status == '2' ) { %>
                        <button class="btn btn-outline-info" style="float: right;" data-bs-toggle="modal" data-bs-target="#ConfirmRepair">ซ่อมแซมสำเร็จ</button>
                    <% } else { %>

                    <% } %>
                </div>
                <br>
                <div style="margin:0px auto;max-width:1036px">
                    <br>
                    <h3>รายละเอียดการแจ้งซ่อมอุปกรณ์</h3>
                    <br>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-weight:bold;text-transform:capitalize;font-size:0px;padding:20px;word-break:break-word;color:#59595b" >
                                    <div style="display:inline-block;font-size:18px;line-height:22px;color:#59595b">
                                        ชื่ออุปกรณ์ : <%= MTN.DeviceName %>
                                    </div>
                                    <span style="float:right;text-align:right;font-size:18px;line-height:22px;color:#59595b" >
                                        หมายเลขอุปกรณ์ : <%= MTN.DeviceID %>
                                    </span> 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border-bottom-style: hidden;">
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col">
                                            <br>
                                            <p>
                                                <b>
                                                    รายละเอียดผู้แจ้ง
                                                </b>
                                            </p>
                                            <p style="padding: 0 33px;">
                                                ผู้แจ้ง : <%= user_detail.Prefix %> <%= user_detail.FirstName %> <%= user_detail.LastName %>
                                            </p>
                                            <p style="padding: 0 33px;">
                                                คณะ : <%= user_detail_faculty.Faculty %>
                                            </p>
                                            <p style="padding: 0 33px;">
                                                สาขา : <%= user_detail_branch.Branch %>
                                            </p>
                                            <p style="padding: 0 33px;">
                                                Email : <%= user_detail.Email %>
                                            </p>
                                            <p style="padding: 0 33px;">
                                                โทรศัพท์มือถือ : <%= user_detail.PhoneNumber %>
                                            </p>
                                        </div>
                                        <div class="col">
                                            <br>
                                            <p>
                                                <b>
                                                    รายละเอียดอุปกรณ์
                                                </b>
                                                <p style="padding: 0 33px;">
                                                    หมายเลขอุปกรณ์ : <%= MTN.DeviceID %>
                                                </p>
                                                <p style="padding: 0 33px;">
                                                    ชื่ออุปกรณ์ : <%= MTN.DeviceName %>
                                                </p>
                                                <p style="padding: 0 33px;">
                                                    ห้อง : <%= room.r_name %>
                                                </p>
                                                <p style="padding: 0 33px;">
                                                    คณะ : <%= faculty.Faculty %>
                                                </p>
                                                <p style="padding: 0 33px;">
                                                    สาขา : <%= branch.Branch %>
                                                </p>
                                            </p>
                                            <!-- <div class="row">
                                                <div class="col col-md-auto">
                                                    <p style="padding: 0 33px;">
                                                        หมายเลขอุปกรณ์ : <%= MTN.DeviceID %>
                                                    </p>
                                                    <p style="padding: 0 33px;">
                                                        ชื่ออุปกรณ์ : <%= MTN.DeviceName %>
                                                    </p>
                                                </div>
                                                <div class="col col-md-auto">
                                                    <p style="padding: 0 33px;">
                                                        คณะ : <%= faculty.Faculty %>
                                                    </p>
                                                    <p style="padding: 0 33px;">
                                                        สาขา : <%= branch.Branch %>
                                                    </p>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    รายละเอียดอาการเสีย
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border-style: hidden;">
                                    <br>
                                    <p style="padding: 0 33px; word-break:break-all;">
                                        <%= MTN.MTN_Detail %>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="border-style: hidden;">
                                    รายละเอียดรูปภาพ
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="border-style: hidden;">
                                    <% if (MTN.MTN_Img[0]==undefined) { %>
                                        <div class="alert alert-danger " role="alert" style="text-align: center">
                                            <i class="bi bi-exclamation-triangle"></i>
                                            <strong>Warning!</strong> ไม่มีรูปภาพ
                                        </div>
                                    <% } %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% if (MTN.MTN_Img[0] != undefined) { %>
                    <br>
                    <% for (var i=0; i < MTN.MTN_Img.length; i++) { %>
                        <img class="mb-3 center" src="/uploadsIMG/<%= MTN.MTN_Img[i] %>" alt="" height="auto">
                    <% } %>
                <% } %>
                <!-- Modal สาเหตุ -->
                <div class="modal fade" id="ConfirmRepair" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    ยืนยันการซ่อมแซม
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="check-device" action="/ConfirmMaintenance/<%= MTN.UserID %>" method="post" style="padding: 20px 0px;">
                                    <input type="text" name="maintenance_id" value="<%= MTN._id %>" hidden>
                                    <input type="text" name="user_id" value="<%= MTN.UserID %>" hidden>
                                    <div>
                                        <label class="form-label">สาเหตุ</label>
                                        <textarea class="form-control" rows="4" name="cause"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                                <input class="btn btn-danger" type="submit" value="ตกลง" form="check-device">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>