<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/bst5/css/bootstrap.min.css">
    <script src="/bst5/js/bootstrap.min.js"></script>
    <script src="/bst5/js/bootstrap.bundle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <title>Document</title>
</head>

<body>
    <%- include('navbar') %>
        <div class="d-flex">
            <nav class="nav flex-column full-height-nav">
                <p style="font-size: 20px; text-align: center;">
                    <b>เมนู</b>
                </p>
                <a class="nav-link" href="/user" style="color: #333333;">
                    <i class="bi bi-people" style="margin-top: 10px;"></i>
                    ข้อมูลผู้ใช้
                </a>
                <a class="nav-link" href="/faculty" style="color: #333333;">
                    <i class="bi bi-journal-bookmark"></i>
                    ข้อคณะ และสาขาวิชา
                </a>
                <a class="nav-link" href="/room" style="color: #333333;">
                    <i class="bi bi-hospital"></i>
                    ข้อมูลห้อง
                </a>
                <a class="nav-link" href="/category" style="color: #333333;">
                    <i class="bi bi-bookmarks"></i>
                    ข้อมูลหมวดหมู่
                </a>
                <a class="nav-link" href="/stock" style="color: #333333;">
                    <i class="bi bi-box-seam"></i>
                    ข้อมูลผลิตภัณฑ์
                </a>
                <a class="nav-link position-relative" href="/cart" style="color: #333333;">
                    <i class="bi bi-cart"></i>
                    รายการเบิก
                </a>
                <a class="nav-link" href="/device" style="color: #1a75ff; text-shadow: 0px 0px 5px #1a75ff">
                    <i class="bi bi-cpu"></i>
                    ข้อมูลอุปกรณ์
                </a>
                <a class="nav-link" href="/maintenance" style="color: #333333;">
                    <i class="bi bi-wrench-adjustable"></i>
                    รายการแจ้งซ่อม
                </a>
            </nav>
            <div class="full-height">
                <br>
                <h1>เพิ่มอุปกรณ์</h1>
                <br>
                <br>
                <div style="margin:0px auto;max-width:1036px">
                    <% if ( capacity_fail ) { %>
                        <div class="alert alert-danger" role="alert" style="text-align: center;">
                            <i class="bi bi-exclamation-triangle" style="margin-right: 10px;"></i>
                            จำนวนของอุปกรณ์ในห้องเต็มแล้ว
                        </div>
                    <% } %>
                    <form action="/insertDevice" method="post">
                        <div class="mb-4" style="width: 300px;">
                            <label class="form-label">หมายเลขอุปกรณ์</label>
                            <input type="text" class="form-control" name="device_code" required>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label class="form-label">ชื่ออุปกรณ์</label>
                                <input type="text" class="form-control" name="device_name" required>
                            </div>
                            <div class="col">
                                <label class="form-label">หมวดหมู่</label>
                                <select class="form-select" name="category_id" aria-label="Default select example" required>
                                    <option value="" selected>--- เลือกหมวดหมู่ ---</option>
                                    <% Object.values(categorys).forEach(function(item){%>
                                        <option value="<%= item._id %>">
                                            <%= item.CategoryName %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label class="form-label">คณะ</label>
                                <select name="faculty_id" id="faculty" class="form-select" required>
                                    <option value="">--- เลือกคณะ ---</option>
                                    <% Object.values(faculty).forEach(function(item){%>
                                        <option value="<%= item._id %>">
                                            <%= item.Faculty %>
                                        </option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">สาขา</label>
                                <select name="branch_id" id="branch" class="form-select" required>
                                    <option value="">--- เลือกสาขา ---</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">ห้อง</label>
                                <select name="room_id" id="room" class="form-select" required>
                                    <option value="">--- เลือกห้อง ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col col-3">
                                <label class="form-label">ราคา</label>
                                <input type="text" class="form-control" name="price" required>
                            </div>
                            <div class="col col-3">
                                <label class="form-label">วันที่ซื้อ</label>
                                <input class="form-control" value="<%= JSON.stringify(date).substring(1, 11); %>" type="date" name="date">
                            </div>
                            <div class="col">
                                <label class="form-label" style="margin-right: 20px;">สถานะอุปกรณ์</label>
                                <div style="margin-top: 5px;">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="status" value="0" checked>
                                        <label class="form-check-label">
                                            ใช้งานปกติ
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="status" value="1">
                                        <label class="form-check-label">
                                            กำลังซ่อมแซม
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div style="display: flex; justify-content: center;">
                            <a class="btn btn-danger me-1" href="/device">ยกเลิก</a>
                            <button class="btn btn-primary">บันทึก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>

<script>
    // $(document).ready(function () {
    //     $('.select').selectize({
    //         sortField: 'text'
    //     });
    // });
    $(function(){
        var facultyObject = $('#faculty');
        var branchObject = $('#branch');
        var roomObject = $('#room');
        
        // on change faculty
        facultyObject.on('change', function(){
            var facultyId = $(this).val();

            let data = JSON.parse('<%- JSON.stringify(branch) %>')
            let arr = [];
            for (var i = 0; i < data.length; i++) {
                if (data[i].FacultyID == facultyId) {
                    arr.push(data[i]);
                }
            }

            branchObject.html('<option value="">--- เลือกสาขา ---</option>');
            roomObject.html('<option value="">--- เลือกห้อง ---</option>');

            $.each(arr, function(index, item){
                branchObject.append(
                    $('<option></option>').val(item._id).html(item.Branch)
                );
            });
        });

        // on change branch
        branchObject.on('change', function(){
            var branchId = $(this).val();

            let data = JSON.parse('<%- JSON.stringify(room) %>')
            let arr = [];
            for (var i = 0; i < data.length; i++) {
                if (data[i].r_branch_id == branchId) {
                    arr.push(data[i]);
                }
            }

            roomObject.html('<option value="">--- เลือกห้อง ---</option>');
            
            $.each(arr, function(index, item){
                roomObject.append(
                    $('<option></option>').val(item._id).html(item.r_name)
                );
            });
        });
    });
</script>

</html>